
.center {
	display: block;
	text-align: center;
	margin: 0 auto;
}

@font-face {
	font-family: 'Orange kid';
	src: url('../fonts/orange-kid.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Consolas';
	src: url('../fonts/Consolas.ttf') format('truetype');
	font-style: normal;
	font-display: auto;
}

h1,
h2 {
	text-align: center;
}

* {
	font-family: 'Consolas';
}

[data-md-color-scheme='slate'] {
	--md-default-fg-color: hsla(var(--md-hue), 15%, 90%, 0.95);
}

body {
	background-image: url('../images/Pubs_Combined_Darker.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
}  

p {
	margin-bottom: 2em;
}

.md-typeset blockquote,
.md-typeset dl,
.md-typeset figure,
.md-typeset ol,
.md-typeset pre,
.md-typeset ul {
	margin-bottom: 2em;
}

.md-sidebar__inner {
	background-color: transparent;
	box-shadow: none;
	--md-default-bg-color: transparent;
}
